.profile__edit-button {
  margin: 0;
  padding: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px #fff solid;
  background-color: rgba(0, 0, 0, 0);
  align-self: flex-end;
  margin-bottom: 5px;
  transition: opacity .2s;
  cursor: pointer;
  background-image: url(../../../images/profile__edit-button-img.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 0;
    align-self: center;
    background-size: 7.5px 7.5px;
}
}
