.popup__input-submit {
  display: block;
  width: 358px;
  height: 50px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: 0;
  background-color: #000;
  color: #fff;
}
