.popup-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: visibility 0s linear .3s, opacity .3s linear;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

.popup-image:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .9;
  position: absolute;
  top: 0;
  left: 0;
}
