.elements__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  margin: 0;
  padding: 0;
  transition: opacity .2s;
  background-image: url(../../../images/close-button.svg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.elements__close-button:hover {
  opacity: .5;
}
