.profile__add-button {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: block;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: opacity .2s;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 950px) {
  .profile__add-button {
    width: 282px;
  }
}


