.elements__like-button {
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  transition: opacity .2s;
  background-image: url(../../../images/like-button.svg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
}

.elements__like-button:hover {
  opacity: .5;
}
